In [1]:
import pandas as pd

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}

In [3]:
df = pd.DataFrame(data=d)

In [4]:
df

   col1  col2
0     1     3
1     2     4

In [5]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [6]:
df.astype('int32').dtypes

col1    int32
col2    int32
dtype: object

In [7]:
df.astype({'col1': 'int32'}).dtypes

col1    int32
col2    int64
dtype: object

In [8]:
ser = pd.Series([1, 2], dtype='int32')

In [9]:
ser

0    1
1    2
dtype: int32

In [10]:
ser.astype('category')

0    1
1    2
dtype: category
Categories (2, int64): [1, 2]

In [11]:
s1 = pd.Series([1, 2])

In [12]:
s1

0    1
1    2
dtype: int64

In [13]:
s2 = s1.astype('int64', copy=False)

In [14]:
s2[0] = 10

In [15]:
s1

0    10
1     2
dtype: int64

In [16]:
ser_date = pd.Series(pd.date_range('20200101', periods=3))

In [17]:
ser_date

0   2020-01-01
1   2020-01-02
2   2020-01-03
dtype: datetime64[ns]